* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  overflow:hidden;
  background: #0483FD;
}

.center {
  width: 350px;
  height: 175px;
  position: fixed;
  left: calc(50% - 175px);
}

.element {
  width: 640px;
  height: 640px;
  margin: 130px;
  margin-left: 450px;
}

.text {
  margin: 80px;
  width: 500px;
  margin-left: 130px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
}

.choice {
  background-color: #006400;
  background-size: 50px;
  background-image: -webkit-linear-gradient(45deg,
                                                rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%,
                                                rgba(0, 0, 0, 0) 50%,
                                                rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%,
                                                rgba(0, 0, 0, 0));
  padding-left: 20px;
  width: 90px;
  margin: 80px;
  margin-left: 280px;
  position: relative;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  border-radius: 5px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
