* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  overflow:hidden;
  background: #0483FD;
}

.center {
  width: 350px;
  height: 175px;
  position: fixed;
  left: calc(50% - 175px);
}

.element {
  width: 640px;
  height: 640px;
  margin: 130px;
  margin-left: 450px;
}

.text {
  margin: 80px;
  width: 500px;
  margin-left: 130px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
}

.choice {
  background-color: green;
  padding-left: 20px;
  width: 90px;
  margin: 80px;
  margin-left: 280px;
  position: relative;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
